<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host { display: block; }
    </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener Clientes</button>
        <button on-click="anadirclientes" class="btn btn-success" type="button" name="button">Añadir Clientes</button>
      </div>
      <br />
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped col-lg-12 col-xs-12">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.idclie]]</td>
                <td>[[item.nombre]]</td>
                <td>[[item.apellido]]</td>
              </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>
  </template>

  <script>

    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: false
          },
          respuesta: {
            type: Object
          }
        };
      }
      obtenerClientes() {
      //  var url = "https://services.odata.org/v4/northwind/northwind.svc/Customers";
        var url = "http://localhost:3002/movimientos";
        console.log(url);
        var request = new XMLHttpRequest();
        request.open("GET", url ,false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        this.noCargados = false;
      }

      anadirclientes() {
        //var url = "https://services.odata.org/v4/northwind/northwind.svc/Customers";
        var url = "http://localhost:3002/movimientos";
        var request = new XMLHttpRequest();
        request.open("POST", url ,false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");

        var nuevoCliente = {"CustomerID":"12345", "ContactName":"David ricardo", "CompanyName":"BBVA"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta)
        this.noCargados = true;
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
